<form [formGroup]="form" (ngSubmit)="signup($event)" class="form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon>rowing</mat-icon>
                <span>Sign Up</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- Name -->
            <!-- <mat-form-field appearance="outline" class="text">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field> -->
            <!-- Email -->
            <mat-form-field appearance="outline" class="email">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text">
            </mat-form-field>
            <!-- Password -->
            <mat-form-field appearance="outline" class="password">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Create account</button>
        </mat-card-actions>
    </mat-card>
</form>